:root {
	--primaryColorOne: #002244;
	--primaryColorTwo: #869397;
	--primaryColorThree: #00338d;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	height: 6rem;
	width: 100%;
	background-color: var(--primaryColorTwo);
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
	display: flex;
}

/*Styling logo*/
.logo {
	padding: 1vh 1vw;
	text-align: center;
}

.logo img {
	height: 5rem;
	width: 5rem;
	border-radius: 30%;
}

/*Styling Links*/

.nav-links {
	display: flex;
	list-style: none;
	width: 88vw;
	padding: 0 0.7vw;
	justify-content: space-evenly;
	align-items: center;
	text-transform: uppercase;
}

.nav-links li a {
	font-size: 14px;
	text-decoration: none;
	margin: 0 0.7vw;
	color: white;
	transition: all 0.5s ease;
}

.nav-links li a:hover {
	color: var(--primaryColorThree);
}

.nav-links li {
	position: relative;
}

.nav-links li a::before {
	content: "";
	display: block;
	height: 1px;
	width: 0%;
	background-color: var(--primaryColorThree);
	position: absolute;
	transition: all ease-in-out 250ms;
	margin: 12% 0 0 10%;
}

.nav-links li a:hover::before {
	width: 80%;
}

/*Styling Hamburger Icon*/

.hamburger div {
	width: 30px;
	height: 3px;
	background: white;
	margin: 5px;
	transition: all 0.3s ease;
}

.hamburger {
	display: none;
}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
	transition: all 0.7s ease;
	width: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}

/*
=====================================
Start of Footer
=====================================
*/

/* Small Screen Footer */
footer {
	background-color: var(--primaryColorTwo);
	height: 100%;
	width: 100%;
}

.footerline-0 {
	text-align: center;
	display: flex;
	flex-direction: column;
	color: white;
	padding-top: 40px;
	padding-bottom: 100px;
}

.footerline-0 h2 {
	font-size: 35px;
	padding-bottom: 30px;
	margin-bottom: 25px;
	border-bottom: 1px solid white;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
}

.footerline-0 li {
	padding: 8px;
}

.footerline-0 li a {
	color: white;
	text-decoration: none;
}

.footerline-0 p {
	margin-top: 30px;
}

/* Larger Screen Footer*/

.footer-container-large {
	display: none;
}

/* Social Media Imgs */

.social {
	padding-left: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.social li {
	list-style: none;
}

.social li a {
	display: inline-block;
	filter: invert(1);
	margin-right: 20px;
	transform: scale(0.5);
	transition: 0.5s;
}

.social li a:hover {
	transform: scale(0.9) translateY(-25px);
}

.social li img {
	width: 70px;
}

/*
=====================================
Start of MQs
=====================================
*/

/* Hamburger ONLY*/
@media (max-width: 500px) {
	nav {
		position: fixed;
		z-index: 3;
	}

	.hamburger {
		display: block;
		position: absolute;
		cursor: pointer;
		right: 5%;
		top: 50%;
		transform: translate(-5%, -50%);
		z-index: 2;
		transition: all 0.7s ease;
	}

	.nav-links {
		position: fixed;
		background: var(--primaryColorTwo);
		height: 100vh;
		width: 100%;
		flex-direction: column;
		clip-path: circle(50px at 90% -20%);
		-webkit-clip-path: circle(50px at 90% -10%);
		transition: all 1s ease-out;
		pointer-events: none;
	}

	.nav-links.open {
		clip-path: circle(1000px at 90% -10%);
		-webkit-clip-path: circle(1200px at 90% -10%);
		pointer-events: all;
	}

	.nav-links li {
		opacity: 0;
	}

	.nav-links li:nth-child(1) {
		transition: all 0.5s ease 0.2s;
	}

	.nav-links li:nth-child(2) {
		transition: all 0.5s ease 0.4s;
	}

	.nav-links li:nth-child(3) {
		transition: all 0.5s ease 0.6s;
	}

	li.fade {
		opacity: 1;
	}
}

@media (min-width: 600px) {
	/* Larger Screen Footer*/
	.footer-container-small {
		display: none;
	}

	.footer-container-large {
		display: contents;
		height: 100%;
		width: 100%;
	}

	.footer-title {
		width: 100%;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		color: var(--primaryColorOne);
		padding-top: 15px;
	}

	.footerline-1 {
		padding: 20px 5px 20px 5px;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}

	.footerline-1 ul p {
		width: 100%;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		text-decoration: underline;
		padding-bottom: 10px;
		font-size: 1.4rem;
		color: var(--primaryColorOne);
	}

	.footerline-1 ul li {
		text-decoration: none;
		list-style: none;
		text-align: center;
	}

	.footerline-1 a {
		text-decoration: none;
		color: var(--primaryColorThree);
	}

	.footerline-1 a:hover {
		text-decoration: underline;
		transition: all 0.5s ease-in-out;
	}
}

@media (min-width: 800px) {
	.nav-links li a {
		font-size: 20px;
	}
}

@media (min-width: 1000px) {
}

@media (min-width: 1200px) {
	.nav-links li a {
		font-size: 24px;
	}
}
