* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.dummy-space {
	height: 100vh;
}

.past-table {
	width: 100%;
}

table{
	width:  100%;
	padding: 30px;
}

table th{
	padding: 10px 0;
	background-color: #f4f4f4;
	border:  thin solid #d4d4d4;
}

table td{
	padding: 10px;
	border:  thin solid #d4d4d4;
	width: 18%;
	text-align: center;
	background-color: #fff;
}
